<!DOCTYPE html>
<html ng-app="app">
  <head>
    <title>App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="/assets/stylesheets/style.css">
  </head>

  <body>
    <div ng-view></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular-route.js"></script>
    <script src="app/parks/parks.js"></script>
    <script src="app/rides/rides.js"></script>
    <script src="app/services/services.js"></script>
    <script src="app/app.js"></script>
  </body>
<html>