<!DOCTYPE html>
<html ng-app="app">
  <head>
    <title>App</title>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="assets/stylesheets/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>

  <body>

    <div ng-view></div>
    <script src="angular/angular.js"></script>
    <script src="angular-route/angular-route.js"></script>
    <script src="app/parks/parks.js"></script>
    <script src="app/rides/rides.js"></script>
    <script src="app/services/services.js"></script>
    <script src="app/app.module.js"></script>
  </body>
<html>
