<div id="container" class="rides-list-details">

  <div align="center">
      <h1>Your Rides</h1>
  </div>
  <div align="center">
    <a href="#!/park/{{ parkId }}" class="btn btn-danger selectNewRidesButton">Select New Rides</a>
  </div>
  <div align="center" class="col-xs-12 firstDiv" ng-repeat="rideSelected in rideQueue">
    <div class="flip">
      <div class="card centered col-xs-offset-3 col-xs-6" ng-class="{'flipped':isFlipped}" ng-click="isFlipped=!isFlipped">
        <div class="col-xs-12 face front">
          <div class="col-xs-12">
            <p class="h3 text-center">{{ rideSelected.rideName }}</p>
            <p class="h5 text-center">(Click for Details)</p>
          </div>
          <div class="col-xs-12 waitData">
              <canvas id="line" class="chart chart-line" chart-data="rideSelected.data" chart-labels="rideSelected.labels" chart-options="options" chart-colors="colors"></canvas>
          </div>
        </div>
        <div class="col-xs-12 face back">
          <p class="descText">{{rideSelected.description}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
body {
width: 100%;
min-height: 100%;
background-repeat: no-repeat;
background-position: center center;
background-attachment: fixed;
text-align: center;
background-image: url("../assets/images/theme-park.jpg");
background-repeat: no-repeat;
background-position: center center;
background-attachment: fixed;
margin: 0;
}
</style>
