<div id="container">
  <div class="top">

    <div class="gallery col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <h1 class="gallery-title" style="color: #FC8000;">{{rides[0].parkName}}</h1>
    </div>

    <div class="searchbar input-group input-group-lg userInput">
      <span class="searchSpan side-span input-group-addon"><span class="glyphicon glyphicon-search"></span> </span>
      <input type="text" class='form-control searchBar' ng-model="search" placeholder="Filter rides...">
    </div>

    <div class="switch-parks">
      <button class="btn btn-info changePark" data-toggle="collapse" data-target="#demo">Select a Different Themepark</button>
      <div id="demo" class="collapse parkList">
          <ul class="multi-column-list" style="list-style-type:none">
              <li ng-repeat="park in parks"><a ng-href="#!/park/{{ park.id }}">{{park.parkName}}</a></li>
          </ul>
      </div>
    </div>
  </div>

    <div align="center">
       <button ng-repeat='rideSelected in rideList'
               ng-click="removeRideFromList($index)"
               class="btn btn-default filter-button">
          {{rideSelected.displayName}}
        </button>
    </div>

    <div class="submit-button">
      <button class="btn getWaitTimesButton" ng-click="setRideQueueAndParkIdAndChangePage()">Get Wait Times!</button>
    </div>
    <div class="submit-button">
      <button class="btn getOptimizedButton" ng-Click="getOptimizedSchedAndChangePage()">Get Optimized Route!</button>
    </div>

  </div>

  <div class="col-md-12">
    <div ng-repeat='ride in rides | filter:search' class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6">
      <div class="col-md-12" ng-click="isChosen(ride)"
      ng-style="rideList.includes(ride) ? {'background-image': 'linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 100%), url({{ride.imageUrl}})', 'border': '3px solid #FC8000', 'margin-bottom': '7%'} : {'background-image': 'linear-gradient(to bottom, rgba(0,0,0,.4) 0%,rgba(0,0,0,.4) 100%), url({{ride.imageUrl}})', 'margin-bottom': '7%'}"
      >
        <h3>{{ride.displayName}}</h3>
      </div>
    </div>
  </div>
</div>

<style>
  body {
    width: 100%;
    height: 100%;
    background: url('../assets/images/blue.jpg') center center fixed;
    background-repeat: repeat-y;
    text-shadow: -0.75px 0 black, 0 0.75px black, 0.75px 0 black, 0 -0.75px black;
  }
</style>
