<div id="container" style="text-align: center">
  <div class="col-xs-12" style="margin-top: 3%;">
      <h1 class="text-center">Your Rides</h1>
  </div>
  <div class="col-xs-5"></div>
  <div class="col-xs-2" style="text-align: center">
    <a href="#!/park/{{ parkId }}" class="btn btn-danger text-center">Add More Rides</a>
  </div>
  <!-- <div class="col-xs-offset-3 col-xs-6" ng-repeat="rideSelected in rideQueue" style="margin-top: 3%; border: 5px solid black; border-radius: 20px; background-image: linear-gradient(to right, #ffffff, #999999);"> -->
  <div class="col-xs-offset-3 col-xs-6" ng-repeat="rideSelected in rideQueue" style="margin-top: 3%; border: 5px solid black; border-radius: 20px; background: #999999);">
    <div class="col-xs-3" style="padding-right: 0; padding-left: 0">
      <div class="col-xs-12" style="padding-left: 0; padding-right: 0">
        <img ng-src="{{ rideSelected.image }}" class="img-thumbnail" style="margin-top: 3%; border: 0; padding: 0">
        <p class="h3 text-center">{{ rideSelected.rideName }}</p>
        <p class="h5 text-center">(Click for Details)</p>
        {{rideSelected.description}}
      </div>
    </div>
    <div class="col-xs-9" style="padding-left: 0; padding-right: 0">
      <div class="col-xs-12" style="padding-left: 0; padding-right: 0">
        <canvas id="line" class="chart chart-line" chart-data="rideSelected.data" chart-labels="labels" height="80" style="margin-top: 5%" chart-options="options" chart-colors="colors"></canvas>
      </div>
    </div>
    <div class="col-xs-3">
    </div>
  </div>
</div>

<style>
  body {
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
  }
  h1 {
    color: black;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 10em;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
    text-align: center;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto
  }
</style>
