
<div id="container">
  <div class="top">
    <div class="gallery col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <h1 class="gallery-title">Select your rides for the day</h1>
    </div>
    <div class="searchbar input-group input-group-lg">
      <span class=" side-span input-group-addon"><span class="glyphicon glyphicon-search"></span> </span>
      <input type="text" class='form-control' ng-model="search" placeholder="Filter rides...">
    </div>

    <div align="center">
       <button ng-repeat='rideSelected in rideList'
               ng-click="removeRideFromList($index)"
               class="btn btn-default filter-button">
          {{rideSelected.displayName}}
        </button>
    </div>

    <div class="submit-button">
      <button ng-click="setRideQueueAndParkIdAndChangePage()">Submit</button>
    </div>
  </div>

  <div class="col-md-12">
    <div ng-repeat='ride in rides | filter:search' class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6">
      <div class="col-md-12" ng-click="addRideToList(ride)">
        <p>{{ride.displayName}}</p>
        <img src='{{ride.imageUrl}}' class="img-responsive img-rounded" style='height: 150px; width: 100%;'>
      </div>
    </div>
  </div>
</div>
